{% load static %}
<div class="sidebar bg-teal-700 min-vh-100 d-flex flex-column p-3 text-white">

  <!-- Botão de toggle mobile -->
  <button id="sidebarToggle" class="btn btn-dark d-block d-sm-none mb-3">
    <i class="bi bi-list fs-4"></i>
  </button>

  <!-- Logo -->
  <div class="logo mb-4 text-center text-sm-start">
    <img src="{% static 'app/images/preve_logo_dark.png' %}" alt="estoca.ai" class="img-fluid">
  </div>

  <!-- Menu -->
  <ul class="nav nav-pills flex-column mb-auto" id="menu">

    <!-- Dashboard -->
    <li class="nav-item mb-1">
      <a href="{% url 'home' %}" class="nav-link text-white d-flex align-items-center px-3 py-2 rounded
        {% if request.resolver_match.url_name == 'home' %}active bg-dark{% endif %}">
        <i class="bi bi-speedometer2 fs-5 me-2"></i> Dashboard
      </a>
    </li>

    <!-- Cadastros (menu pai) -->
    {% with current=request.resolver_match.url_name %}
    <li class="nav-item mb-1">
      <a class="nav-link text-white d-flex align-items-center px-3 py-2 rounded {% if current in 'supplier_list category_list brand_list product_list' %}bg-dark{% endif %}"
         data-bs-toggle="collapse" href="#submenuCadastros" role="button" 
         aria-expanded="{% if current in 'supplier_list category_list brand_list product_list' %}true{% else %}false{% endif %}" 
         aria-controls="submenuCadastros">
        <i class="bi bi-folder-plus fs-5 me-2"></i> Cadastros
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>

      <!-- Submenu Cadastros -->
      <div class="collapse ps-3 {% if current in 'supplier_list category_list brand_list product_list' %}show{% endif %}" id="submenuCadastros" data-bs-parent="#menu">
        <ul class="nav flex-column mt-1">
          {% if perms.suppliers.view_supplier %} 
          <li class="nav-item mb-1">
            <a href="{% url 'supplier_list' %}" class="nav-link text-white px-3 py-2 rounded
              {% if current == 'supplier_list' %}active bg-dark{% endif %}">
              <i class="bi bi-truck me-2"></i> Fornecedores
            </a>
          </li>
          {% endif %} 
          {% if perms.categories.view_category %} 
          <li class="nav-item mb-1">
            <a href="{% url 'category_list' %}" class="nav-link text-white px-3 py-2 rounded
              {% if current == 'category_list' %}active bg-dark{% endif %}">
              <i class="bi bi-tags me-2"></i> Categorias
            </a>
          {% endif %} 
          </li>
          {% if perms.brands.view_brands %}
          <li class="nav-item mb-1">
            <a href="{% url 'brand_list' %}" class="nav-link text-white px-3 py-2 rounded
              {% if current == 'brand_list' %}active bg-dark{% endif %}">
              <i class="bi bi-shop me-2"></i> Marcas
            </a>
          </li>
          {% endif %}
          {% if perms.products.view_product %}
          <li class="nav-item mb-1">
            <a href="{% url 'product_list' %}" class="nav-link text-white px-3 py-2 rounded
              {% if current == 'product_list' %}active bg-dark{% endif %}">
              <i class="bi bi-box-seam me-2"></i> Produtos
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </li>
    {% endwith %}
    <!-- Entradas -->
    {% if perms.outflows.view_outflow %}    
    <li class="nav-item mb-1">
      <a href="{% url 'inflow_list' %}" class="nav-link text-white d-flex align-items-center px-3 py-2 rounded
        {% if request.resolver_match.url_name == 'inflow_list' %}active bg-dark{% endif %}">
        <i class="bi bi-arrow-down-left-square fs-5 me-2"></i> Entradas
      </a>
    </li>
    {% endif %}
    <!-- Saídas -->
     {% if perms.inflows.view_inflow %}
    <li class="nav-item mb-1">
      <a href="{% url 'outflow_list' %}" class="nav-link text-white d-flex align-items-center px-3 py-2 rounded
        {% if request.resolver_match.url_name == 'outflow_list' %}active bg-dark{% endif %}">
        <i class="bi bi-arrow-up-right-square fs-5 me-2"></i> Saídas
      </a>
    </li>
    {% endif %} 
    <!-- Previsões -->
     {% if perms.forecast.view_forecast %} 
    <li class="nav-item mb-1">
      <a href="{% url 'forecast_list' %}" class="nav-link text-white d-flex align-items-center px-3 py-2 rounded
        {% if request.resolver_match.url_name == 'forecast_list' %}active bg-dark{% endif %}">
        <i class="bi bi-graph-up fs-5 me-2"></i> Previsões
      </a>
    </li>
    {% endif %} 
    <li class="nav-item mb-1">
      <a href="{% url 'config_list' %}" class="nav-link text-white d-flex align-items-center px-3 py-2 rounded
        {% if request.resolver_match.url_name == 'config_list' %}active bg-dark{% endif %}">
        <i class="bi bi-gear fs-5 me-2"></i> Configurações
      </a>
    </li>
  </ul>

<!-- Usuário logado próximo do hr -->
  <div class="text-white text-center py-1">
    <i class="bi bi-person-circle me-2"></i> {{ request.user.username }}
  </div>

  <!-- Linha separadora -->
  <hr class="text-white w-100 my-1 mb-2">

  <!-- Botão de Logout -->
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger w-100 mb-3 py-2">
      <i class="bi bi-box-arrow-right me-2"></i> Sair
    </button>
  </form>

  <!-- Botão de Dark Mode -->
  <button id="darkModeToggle" class="btn btn-dark w-100 py-2">🌙 Modo Escuro</button>

</div>
